.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
*.egg-info/

logs/*
!logs/.gitkeep
models/*
!models/.gitkeep

tracks/yas_marina/raw/
tracks/yas_marina/processed/*
!tracks/yas_marina/processed/.gitkeep
!tracks/yas_marina/processed/*.csv
!tracks/yas_marina/processed/*.yaml

*.csv
!tracks/**/processed/.gitkeep
!tracks/yas_marina/processed/*.csv
*.png
*.npz
*.pkl
*.zip
events.out.tfevents.*
